@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1rem;
}

.App {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
}

.App:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

.App:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.App .search {
  text-align: center;
  padding: 1rem;
}

.App input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0.19);
  color: #f8f8f8;
  outline: none;
  transition: ease-in-out 0.3s;
}

.App input:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.3);
  color: #f8f8f8;
}

.App input:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #f8f8f8;
}

::placeholder {
  color: #f8f8f8b2;
}

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App .top {
  width: 100%;
  margin: 1rem auto;
}

.location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: 1.5px solid rgba(255, 255, 255, 0.315);
  padding: 0.8rem;
  transition: ease-in-out 0.8s;
  box-shadow: inset 0 0 18px 0 rgba(255, 255, 255, 0.567);
}

.location:hover {
  box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.567);
  border-radius: 30px;
}

.location p {
  font-size: 1.3rem;
  margin-left: auto;
}

.App .weather-status {
  margin-top: 10px;
  position: relative;
  text-align: end;
}

.App .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
}

.bold {
  font-weight: 700;
}

/*background images*/
.clear-bg:before {
  background: url("./assets/clear.jpg") no-repeat center center/cover;
}

.clouds-bg:before {
  background: url("./assets/clouds.jpg") no-repeat center center/cover;
}

.rain-bg:before {
  background: url("./assets/rain.jpg") no-repeat center center/cover;
}

.snow-bg:before {
  background: url("./assets/snow.jpg") no-repeat center center/cover;
}

.thunderstorm-bg:before {
  background: url("./assets/thunderstorm.jpg") no-repeat center center/cover;
}

.mist-bg:before {
  background: url("./assets/mist.jpg") no-repeat center center/cover;
}

.dust-bg:before {
  background: url("./assets/dust.jpg") no-repeat center center/cover;
}

.tornado-bg:before {
  background: url("./assets/tornado.jpg") no-repeat center center/cover;
}

.default-bg:before {
  background: url("./assets/sunset.jpg") no-repeat center center/cover;
}
